    <section>
        <div class="container mt-5">
            <div class="row">
                {{#each products}}
                <div class="card p-3" style="width: 15rem; height:30rem;">
                    <img style="max-width: 13rem; max-height:13rem" src="/product-images/{{this._id}}.{{this.fileExtension}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">{{this.Description}}</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>